%nav {
    display: flex;
    flex-direction: row;
    align-items: center;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
        border: #ccc solid 1px;
        text-decoration: none;
        color: #444;

        &:hover {
            background: skyblue;
        }

        &.active {
            background: cyan;
        }
    }
}

.MainNav {
    @extend %nav;
}

.SubNav {
    @extend %nav;

    a {
        background: #eee;
    }
}